.HomeContainer.HomePage {
  height: calc(100vh - 75px);
  display: flex;
  max-width: 1900px;
  margin: 0 auto;
  width: 100%;
  color: #ffffff;
}

.LeftSide.HomePage {
  position: relative;
  display: flex;
  flex: 1 1 50%;
  overflow: hidden;
}

.RightSide.HomePage {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  overflow: hidden;
}


.RightSide.HomePage.FirstSlide, .RightSide.HomePage.SecoundSlide, .RightSide.HomePage.ThirdSlide {
  
  animation: fadeIn 1.5s;
 
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}