.LeftContainer {
}
.cargoImage {
  width: -webkit-fill-available;
  position: absolute;
  top: 28%;
  left: 0;
  padding: 3%;
}

.backgroundImage {
  width: 100%;
  height: auto;
  transition: all 3s ease-out;
  transform: translate(0.68%, 40.5%);
  scale: 54;
}

.backgroundImage.locationOne{
  scale: 1.6;
  transform: translate(0.68%, 18.5%);
}

.backgroundImage.locationTwo{
  scale: 1.6;
  transform: translate(0.68%, -10.5%);
}

// @media screen and (max-height: 851px) {
//     .backgroundImage {
//         scale: 45;
//         transform: translate(0.68%, 40.2%);
//       }
//       .cargoImage {
//         top: 10%;
//         left: 0;
//         padding: 11%;
//       }
// }

@media screen and (max-height: 920px) {
  .backgroundImage {
    scale: 45;
    transform: translate(0.68%, 40.2%);
  }
  .cargoImage {
    top: 10%;
    left: 0;
    padding: 11%;
  }
}
